<div>
    <%= render "header" %>
    <nav class="shopNav">
        <h2>Your Shops</h2>
        <div>
            <%= button_to "New Shop", new_candy_shop_path, :method => :get,
            class: 'btns' %>
        </div>
        <ul>
            <%= @candyShops.find_each do |shop| %>
	    <li>
		    <%= link_to shop.name, shop %>
	    </li>
            <%end%>
        </ul>
    </nav>
    <div class="mainContent">
        <% if @candyShop != nil %>  
            <h1><%= @candyShop.name %></h1>
            <% @currentShopId = @candyShop.id %>
        <% else %>
            <h1><%= @candyShops.first.name %></h1>
            <% @currentShopId = @candyShops.first.id %>
        <%end%>

        <div class="shelfSection">
            <h2>Shelves</h2>
            <div>
                <%= button_to "Create a shelf",
                new_candy_shop_shelf_path(@currentShopId), 
                :method => :get,class: 'btns', 
                :id => "btnsTest", :disabled => @status %>
            </div>
            <div class="shelfContainer">
                <div class="shelfBox">
                    <h3>Shelf A</h3>
                    <input class="btns" type="button" value="hola"/>
                </div>
                <div class="shelfBox">
                    <h3>Shelf A</h3>
                    <input class="btns" type="button" value="hola"/>
                </div>
                <div class="shelfBox">
                    <h3>Shelf A</h3>
                    <input class="btns" type="button" value="hola"/>
                </div>
            </div>

        </div>
        <div class="unsCandiesSection">
            <h2>Unshelved Candies</h2>
            <div class="unsCandiesContainer">
                <div class="candyBox">
                    <h3>Shelf A</h3>
                    <input class="btns" type="button" value="hola"/>
                </div>
                <div class="candyBox">
                    <h3>candy A</h3>
                    <input class="btns" type="button" value="hola"/>
                </div>
                <div class="candyBox">
                    <h3>candy A</h3>
                    <input class="btns" type="button" value="hola"/>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <!--<div class="actionBtns">
        <h2>Action Buttons</h2>
        <div>
            <%= button_to "Create a shelf",new_candy_shop_path, :method => :get,class: 'btns', :id => "btnsTest", :disabled => @status %>
        </div>
        <div>
            <%= button_to "Create a candy", new_candy_shop_path, :method => :get,class: 'btns' %>
        </div>
    </div> -->
    <div class="clear"></div>
</div>


