<%= form_with model: @candyShop, local: true do |form| %>
    <div class="header">
        <div class="headerName">
            <h1>Create Candy Shop</h1>
            <h2>Current Shop</h2>
            <p><%= @candyShops.first.name%></p>
        </div>
        <div class="clear"></div>
    </div>
    <div class="newMainContent">
        <div>
            <p>
                <%= form.label :"Enter name of candy shop" %><br>
            </p>
            <p>
                <%= form.text_field :name %>
            </p>
        </div>
        <div>
            <%= form.submit "Create your candy shop" %>
        </div>
    </div>
<%end%>

