<div>
    <%= render "header" %>
    <nav class="shopNav">
        <h2>Your Shops</h2>
        <div>
            <%= button_to "New Shop", new_candy_shop_path, :method => :get,
            class: 'btns' %>
        </div>
        <ul>
            <%= @candyShops.find_each do |shop| %>
        <li>
            <%= link_to shop.name, {:controller => 'candy_shops', :action => 'show', :id => shop.id } %>
        </li>
            <%end%>
        </ul>
    </nav>
    <div class="mainContent">
        <% if @candyShop != nil %>
            <h1><%= @candyShop.name %></h1>
        <% else %>
            <h1><%= @candyShops.first.name %></h1>
        <%end%>
    </div>
    <div class="actionBtns">
        <h2>Action Buttons</h2>
        <div>
            <%= button_to "Create a shelf",new_candy_shop_path, :method => :get,class: 'btns', :id => "btnsTest", :disabled => @status %>
            <% if @candyShops.count < 5%> 
            <%end%>
        </div>
        <div>
            <%= button_to "Create a candy", new_candy_shop_path, :method => :get,class: 'btns' %>
        </div>
    </div>
    <div class="clear"></div>
</div>


