<div>
    <div class="header">
        <h1>Candy Shop Land</h1>
        <h2>Current Shop</h2>
        <p> <%= @candyShops.first.name%> </p>

    </div>
    <nav class="shopNav">
        <h2>Your Shops</h2>
        <ul>
            <%= @candyShops.find_each do |shop| %>
                <li><a href="#"><%= shop.name %></a></li>
            <%end%>
        </ul>
    </nav>
    <div class="actionBtns">
        <h2>Action Buttons</h2>
        <div>
            <%= button_to "Create a shop", new_candy_shop_path, :method => :get,class: 'btns' %>
        </div>
        <div>
            <%= button_to "Create a shelf", new_candy_shop_path, :method => :get,class: 'btns', :id => "btnsTest", :disabled => true %>
            <% if @candyShops.count < 5%> 
                <script type="text/javascript">
                    document.getElementById("btnsTest").disabled = false;
                </script>
            <%end%>
        </div>
        <div>
            <%= button_to "Create a candy", new_candy_shop_path, :method => :get,class: 'btns' %>
        </div>
    </div>
    <div class="clear"></div>
</div>

