<div>
    <div class="header">
        <div class="headerName">
            <h1>Candy Shop Land</h1>
            <h2>Current Shop</h2>
            <p> <%= @candyShops.first.name%> </p>
        </div>
        <div class="status">
            <h3>Status</h3>
            <p>Please create a shop first!</p>
        </div>
        <div class="clear"></div>
    </div>
    
    <nav class="shopNav">
        <h2>Your Shops</h2>
        <ul>
            <%= @candyShops.find_each do |shop| %>
                <li><a class="shopName"href="#"><%= shop.name %></a></li>
            <%end%>
        </ul>
    </nav>
    <div class="actionBtns">
        <h2>Action Buttons</h2>
        <div>
            <%= button_to "Create a shop", new_candy_shop_path, :method => :get,class: 'btns' %>
        </div>
        <div>
            <%= button_to "Create a shelf",new_candy_shop_path, :method => :get,class: 'btns', :id => "btnsTest"%>
            <% if @candyShops.count < 5%> 
            <%end%>
        </div>
        <div>
            <%= button_to "Create a candy", new_candy_shop_path, :method => :get,class: 'btns' %>
        </div>
    </div>
    <div class="clear"></div>
</div>


